In [1]:
import requests
import re
import os
import pandas as pd

In [2]:
kegg = pd.read_excel('./KeggNumber.xlsx',header = None)
kegg.columns = ['number','abbr','SpeciesName']
kegg

     number  abbr                                        SpeciesName
0    T01001   hsa                               Homo sapiens (human)
1    T01005   ptr                       Pan troglodytes (chimpanzee)
2    T02283   pps                              Pan paniscus (bonobo)
3    T02442   ggo  Gorilla gorilla gorilla (western lowland gorilla)
4    T01416   pon                  Pongo abelii (Sumatran orangutan)
..      ...   ...                                                ...
984  T01113   lbz                            Leishmania braziliensis
985  T06539  lpan                              Leishmania panamensis
986  T01241   ngr                                  Naegleria gruberi
987  T01022   tva                              Trichomonas vaginalis
988  T01047   gla                                    Giardia lamblia

[989 rows x 3 columns]

In [3]:
#species = ['hsa','mcc','ptr','mmu','cel','tup','aml']
species = list(kegg['abbr'])

In [4]:
for ID in species:
    url = 'https://metabolicatlas.org/api/v2/gotenzymes/enzymes?filters[organism]='+ID+'&pagination[page]=1&pagination[pageSize]=108500&pagination[column]=gene&pagination[isAscending]=true'
    context = requests.get(url)
    path = './' +ID+'/'
    path1 = './' +ID+'/'+ID+'EnzymeInfo.json'
    path2 = './' +ID+'/'+ID+'EnzymeInfo.txt'
    #check path
    if os.path.exists(path):
        pass
    else:
        os.mkdir(path)
    with open(path1,'w') as f:
        for i in context.text:
            f.write(i)
    tmp = pd.read_json(path1,encoding="utf-8", orient='records')
    tmp = pd.json_normalize(tmp["enzymes"])
    tmp.to_csv(path2,sep='\t')